/*!
 * VueStudio v3.2.0 (https://seantheme.com/vue-studio/)
 * Copyright 2022 SeanTheme
 */
 
@import '_functions.scss';
@import '_variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';

@import '_mixins.scss';
@import '_root.scss';
@import '_helper.scss';
@import '_reboot.scss';

@import '_app.scss';
@import '_ui.scss';
@import '_plugins.scss';
@import '_pages.scss';
@import '_widgets.scss';
@import '_rtl.scss';


.table-hover > tbody > tr:hover textarea {
  background: var(--bs-table-hover-bg) !important;
}

.modal-dialog {
  max-width: 80%;
  align-items: start !important;
  height: 90vh;
}

.modal-content {
  height: 100%;
}

.table-hover>tbody>tr.row-editted>* ,
.table-hover>tbody>tr.row-editted:hover {
  background: #bcd3ff !important;
}

.table-hover>tbody>tr.row-editted:hover td{
  box-shadow: none;
}

.table-hover>tbody>tr.row-editted input, .table-hover>tbody>tr.row-editted textarea {
  background: #bcd3ff !important;
}

select option {
  text-transform: capitalize;
}